<div id="myCarousel" class="carousel slide slide-me-in" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="~/images/skipbanner1.jpeg" alt="Image">
            <div class="carousel-caption">
              <h1>Våre skip</h1>
            </div>      
          </div>
          <div class="item">
                <img src="~/images/skipbanner3.jpeg" alt="Image">
                <div class="carousel-caption">
                    <h1>Våre skip</h1>
                </div>
              </div>    
          <div class="item">
            <img src="~/images/skipbanner2.jpeg" alt="Image">
            <div class="carousel-caption">
                <h1>Våre skip</h1>
            </div>
          </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>
<h2 hidden class="show-on-small-screens text-center">Våre skip</h2>
<div class="container padding-top-50">
    <div class="row slide-me-in-secound">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Valdimar H</h3>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p> Er nýasti báturinn okkar sem við tókum í gagnið í apríl árið 2018.Helstu fiskitegundir sem hann er að veða eru þoskur, ýsa, steinbítur og keila, einnig er hann að veiða ufsa karfa og löngu.
                             </p>
                            <div class="collapse" id="valdimar-h-more-info">
                                    <div class="card card-body">
                                            Veiða færi sem þessi bátur notar er auto lína og hann hefur 100.000 króka. Lestinn rúmar 100 tonna enn báturinn tekur stutta túra svo að fiskurinn er sem ferskastur þegar hann kemur í land.
                                    </div>
                            </div>
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#valdimar-h-more-info" aria-expanded="false" aria-controls="collapseExample">
                                    Lesa meira
                            </button>

                        <footer class="card-footer">
                            Tel- 9944499443
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <img src="~/images/valdimarPrev.jpeg" alt="Valdimar H" class="fit-to-div img-rounded">
        </div>
    </div>

    <div class="row slide-me-in-third padding-top-50">
           <div class="col-lg-5 col-md-6 col-sm-12 hide-on-med-screens">
                <img src="~/images/sagak-prev.jpg" alt="Valdimar H" class="fit-to-div img-rounded">
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Saga K</h3>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p> Þessi bátur er 29 metra langur með 499 króka fór í sjóninn ári 1933 og er búin að vera veiða fiska, skipstjórarnir
                                eru 2 Sigvaldi og Sævar þeir eru flottir</p>
                                <div class="collapse" id="saga-k-more-info">
                                        <div class="card card-body">
                                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </div>
                                </div>
                                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#saga-k-more-info" aria-expanded="false" aria-controls="collapseExample">
                                        Lesa meira
                                </button>
    
                            <footer class="card-footer">
                                Tel- 9944499443
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div hidden class="col-lg-5 col-md-6 col-sm-12 show-on-med-screens">
                    <img src="~/images/sagak-prev.jpg" alt="Valdimar H" class="fit-to-div img-rounded">
                </div>
        </div>
</div>
    